* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    text-align: center;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
}
#titleSpan{
    font-size: 4rem;
    color: salmon;
}

.container{
    text-align: left;
    border: 1px dashed red;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.subContainer{
    margin-block: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span {
    margin-block: 2em;
    font-size: 4rem;
}